

.user{  
    border-style: solid;
    border-radius: 1em;
}

#user-pic{
    margin: 0rem;
    border-radius: 50%;
    padding: 0.7rem 3rem;
}

#user-name{
    margin-top: 1rem;
    text-align: left;
}

#user-name h4{
    margin-bottom: 0em;
}

