body{
  padding-top: 5rem;

}

#editProfileTitle{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#editProfileTitle h2{
  color: var(--darkpink-color);
  font-weight: 400;
}

#editProfilePic img{
  object-fit: cover;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

#editProfilePicButton{
  margin-top: 8.5rem;
}

#newInfo{
  margin-top: 2rem;
  padding: 0rem;
  margin-left: 0rem;
}

.container {
  justify-content: center;
  align-items: center;
}

#newInfo .form-floating{
  /*width: 80%;*/
  margin: 1rem; 
}

#newInfo button{
  background-color: var(--darkpink-color);
  border-color: var(--darkpink-shade-color);
  border-width: 0.2rem;
  border-radius: 1em;
  color: white;
}

#newInfo button:hover{
  background-color: var(--darkpink-shade-color);
}
