/* -------------------- Full Post -----------------------------*/

#fullpost{
    margin-top: 8em;
    border-style: solid;
    border-color: #284B63;
    border-radius: 1em;
    background-color: var(--background-color);
    font-family: 'Maven Pro';
}

#fullpost .post-header{
    margin: 3em 0 1em 0;
    color: var(--text-color);
    font-weight: 500;
}
#fullpost .btn-back{
   color:var(--darkpink-color)
}

#fullpost .post-all{
    margin: 0 0 3em 0;
}

#fullpost .post-all .post-title{
    margin: 0 0 1em 0;
    color:var(--text-color);
    font-size: xx-large;
    font-weight: 800;
}
.post-newsheader{
    color:var(--text-color);
    font-weight: 505;
}

.post-newsbody{
    padding: 1em 0 0 0;
    color:var(--text-color);
}


.post-font-title{
    font-weight: 800;
    color: var(--text-color);
}

.post-font{
    color: var(--text-color);
    padding-bottom: 1em;
}

/*------------------------------- INTERACTIONS --------------------------------*/


.post-interactions .share{
    margin: 0.5rem 0rem;
    padding: 0.5rem 0rem;
    text-align: start;
    margin-top: 0.75rem;
    font-size: x-large;
    color: var(--darkpink-color);
}

.post-interactions .action:hover{
  
  color: var(--darkpink-shade-color);
}

.post-interactions .save{
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  text-align: start;
  margin-top: 0.75rem;
  font-size: x-large;
  text-align: center;
  color: var(--darkpink-color);
}

.post-interactions .report{
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  text-align: start;
  margin-top: 0.75rem;
  font-size: x-large;
  text-align: end;
  color: var(--darkpink-color);
}

.post-interactions .votes{
    background-color: var(--text-color);
    color: var(--title-color);
    font-weight: 500;
    padding: 0.25rem ;
    margin: 0.25rem 0rem;
   border-radius: 0.5rem;
   text-align: center;
}


 .votes > div{
  text-align: center;
  padding: 0.1rem;
}


/* ------------------------------- Comments Part --------------------------------------- */

.post-comment{
    padding-top:3em;
}

.comments-title{
    font-size: larger;
    color: var(--darkpink-color);
}

.share-comments-btn {
    color:white;
    font-weight: 800;
    background-color: var(--darkpink-color);
    border-style: solid;
    border-color: var(--darkpink-shade-color);
    border-radius: 0.2em;
    padding: 0.25em 1em 0.25em 1em;
}

.post-comment::before,
.post-comment::after,
.post-comment-form::before,
.post-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.post-comment ul{
	list-style-type: none;
	padding: 0;
}

.post-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.post-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
	background: #fff;
	color: var(--text-color);
	position: relative;
}

.post-comment .meta {
	color: var(--text-color);
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.post-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}


.post-comment h3,
.post-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
}

.commentlink{
    text-decoration: none;
    text-decoration: underline;
    color: var(--darkpink-color)
}


