/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/open_sans/OpenSans-Regular.ttf);
    font-weight: 400;
  }
  
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/open_sans/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
  
@font-face {      
    font-family: 'Open Sans';
    src: url(fonts/open_sans/OpenSans-Bold.ttf);
    font-weight: 700;
}
  
@font-face {
    font-family: 'Maven Pro';
    src: url(fonts/maven_pro/MavenPro-Regular.ttf);
    font-weight: 400;
}
  
@font-face {
    font-family: 'Maven Pro';
    src: url(fonts/maven_pro/MavenPro-SemiBold.ttf);
    font-weight: 600;
}
  
@font-face {
    font-family: 'Maven Pro';
    src: url(fonts/maven_pro/MavenPro-Bold.ttf);
    font-weight: 700;
}


:root {
    --background-color: #e5eff6;
    --text-color: #284B63;
    --title-color: #CCF5AC;
    --lightpink-color: #EB8A90;
    --darkpink-color: #AA1155;
    --lightblue-color: #BFD7EA;
}

body{
    font-family: 'Open Sans';
    background-color: var(--background-color);
}

#nav {
    font-family: 'Open Sans';
    background-color: #284B63;
}
#title {
    font-size: x-large;
    font-weight: 700;
    color: var(--title-color);
}

.log{
    text-decoration: none;
    font-weight: 600;
    color:var(--lightpink-color)
}

#post{
    background-color: #AA1155;
    margin-top: 20em;
    border-color: #AA1155;
}


/* ----------- login page -----------*/

.layout{    /*to align content according to the size of the screen*/
    width:100%;
    height:100%;
}

.login_form{
    
    padding: 0.5em;
    background-color: #BFD7EA;
    border: #284B63 solid 1px;
    border-radius: 1em;
}

.login_form .title{
    color: var(--darkpink-color);
    text-align: center;
    margin: 0.25em;
}

.login_form form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #284B63;
  margin: 1em 0;
}

.login_form form input:focus {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
}

.login_form form button, .login_google button{
  margin: 0 auto;
  background: transparent;
  color: #284B63;
  border-color: #284B63;
  transition: 250ms;
  width: 100%;
}

.login_form form button:hover, .login_google button:hover{
  background: transparent;
  background-color: #284B63;
  color:#fff;
  border-color: #284B63;
}

.signup_link{
    text-align: center;
    width:100%;
    padding:0.25em;
    text-decoration: none;
    color:#EB8A90;
}

.signup_link:hover{
    text-decoration: none;
    color:#AA1155;
}

/* .login_form form button {
  background: transparent;
  border: 0;
  color: #fff;
} */