/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/open_sans/OpenSans-Regular.ttf);
    font-weight: 400;
  }
  
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/open_sans/OpenSans-SemiBold.ttf);
    font-weight: 600;
}
  
@font-face {      
    font-family: 'Open Sans';
    src: url(fonts/open_sans/OpenSans-Bold.ttf);
    font-weight: 700;
}
  
@font-face {
    font-family: 'Maven Pro';
    src: url(fonts/maven_pro/MavenPro-Regular.ttf);
    font-weight: 400;
}
  
@font-face {
    font-family: 'Maven Pro';
    src: url(fonts/maven_pro/MavenPro-SemiBold.ttf);
    font-weight: 600;
}
  
@font-face {
    font-family: 'Maven Pro';
    src: url(fonts/maven_pro/MavenPro-Bold.ttf);
    font-weight: 700;
}


:root {
    --background-color: #e5eff6;
    --text-color: #284B63;
    --title-color: #CCF5AC;
    --lightpink-color: #eb8a90;
    --lightblue-color: #BFD7EA;
    --darkpink-color: #aa1156e3;
    --darkpink-shade-color:#880D44;
}

/*body { background: var(--title-color) !important; } */

#nav {
    font-family: 'Open Sans';
    background-color: #284B63;
}
.navbar-toggler .menu #nav-btn{
    
}
#nav .separator{
    font-size: larger;
    color: var(--lightpink-color);
}
#title {
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    color: var(--title-color);
}
#aboutus {
    text-decoration: none;
    font-size: small;
    font-weight: 700;
    color: white;
}

.log{
    text-decoration: none;
    font-weight: 600;
    color:var(--lightpink-color);
}

.admin_head{
    display: inline;
    text-decoration: none;
    font-weight: 600;
    color:var(--lightpink-color);
}

.log:hover {
    color: var(--darkpink-color);
}


