
/* ----------------------- New/Edit Post Pop Up -------------------------*/


#fullNewsForm{
    margin-top: 8em;
    font-family: 'Maven Pro';
}

#fullNewsForm h2{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: xx-large;
    color: var(--darkpink-color);
    font-weight: 400;
}

.newsFormContent{
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 1em;
    background-color: var(--background-color);
    padding:2em 6em 2em 6em !important;
}

.title-section { 
    margin:0.5em 0 0.5em 0;
}
.header-section { 
    margin:0.5em 0 1em 0 !important;
}
.tags-section { 
    margin-top:2em !important;
}
.images-section{ 
    margin-top:2em !important;
}
.source-section{ 
    margin-top:2em !important;
}

.btn-section{ 
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-style: solid;
    border-color: var(--darkpink-color);
    border-radius: 0.2em;
    font-weight: 800;
    font-size: large;
    color: var(--darkpink-color);
    background-color: var(--lightpink-color);
    margin-top:2em !important;
}

/*-----------------Responsividade ---------------------*/
@media screen and (max-width: 992px){
    .newsFormContent{
        border-style: solid;
        border-color: var(--text-color);
        border-radius: 1em;
        background-color: var(--background-color);
        padding:0 0.9em 0 0.9em !important;
    }
    

}