
:root {
    --background-color: #e5eff6;
    --text-color: #284B63;
    --title-color: #CCF5AC;
    --lightpink-color: #EB8A90;
    --darkpink-color: #AA1155;
    --darkpink-shade-color:#880D44;
    --lightblue-color: #BFD7EA;
  }
  

  .post-content{
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: justify;
  }

  #post{
    background-color: var(--lightpink-color);
    margin-bottom: 2rem;
    
    
    border-style: solid;
    border-color: #284B63;
    border-radius: 1em;
    background-color: var(--background-color);
    font-family: 'Maven Pro';
  }

#post  #tags{
      margin: 1em;
        padding: 0.5em;
        margin-right: 1.5rem;
      background-color: var(--darkpink-color);
      color: var(--background-color);
     border-radius: 0.5rem;
      font-weight: 500;
      text-align: center;
  }

#post .post-pic{
    margin: 1rem;
    margin-right: 1.3rem;
    text-align: end;
}

#post #profile-pic{
    margin: 0rem 0rem;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 0em;
}


.post-interactions {
    margin: 0.5rem;
   padding: 0rem;
}

#post #title{
    padding-left: 2rem;
    margin-top: 1rem;
   
    text-align: start;
    color: var(--text-color);
}


.post-interactions .share{
    margin: 0.5rem 0rem;
    padding: 0.5rem 0rem;
    text-align: start;
    margin-top: 0.75rem;
    font-size: x-large;
    color: var(--darkpink-color);
}

.post-interactions .action:hover{
  
  color: var(--darkpink-shade-color);
}

.post-interactions .save{
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  text-align: start;
  margin-top: 0.75rem;
  font-size: x-large;
  color: var(--darkpink-color);
}

.post-interactions .report{
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  text-align: start;
  margin-top: 0.75rem;
  font-size: x-large;
  color: var(--darkpink-color);
}

.post-interactions .votes{
    background-color: var(--text-color);
    color: var(--title-color);
    font-weight: 500;
    padding: 0.25rem;
    margin: 0.25rem;
   border-radius: 0.5rem;
   text-align: center;
}


 .votes > div{
  text-align: center;
  padding: 0.1rem;
}

