

  .post-content{
  
    text-align: justify;
    
  }
  #post .post-text{
    margin-bottom: 0em;
  }

  #post .posts-container{
    margin:0em 0.5em;
  }


  #post{
    margin-bottom: 1rem;
    
  }


#post .tag-holder{
 text-align: end;
  }
#post .tags{
      margin: 1em;
        padding:  0.5rem 1.5em;
     
   
      text-align: center;
      outline: none;
  }

  #post .tags:focus{
    outline: 0;
}


#post .post-pic{
   
    margin-right: 1.3rem;
    text-align: end;
}

#post #profile-pic{
    margin: 0rem 0rem;

    padding: 1rem;
    margin-right: 0em;
}


.post-interactions {
    margin: 0.5rem;
   padding: 0rem;
}

#post #title {
    padding-left: 2rem;
    margin-top: 1rem;
    overflow-wrap: break-word;
    text-align: start;
  
}

.post-interactions .share{
    margin: 0.5rem 0rem;
    padding: 0.5rem 0rem;
    text-align: start;
    margin-top: 0.75rem;
   
  
}


.post-interactions .save{
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  text-align: start;
  margin-top: 0.75rem;
  
  text-align: center;
}

.post-interactions .report{
  margin: 0.5rem 0rem;
  padding: 0.5rem 0rem;
  text-align: start;
  margin-top: 0.75rem;
 
  text-align: end;

}

.post-interactions .votes{
   
   
    padding: 0.25rem ;
    margin: 0.25rem 0rem;
  
   text-align: center;
}


 .votes > div{
  text-align: center;
  padding: 0.1rem;
}

#post .read-more{
  font-weight: 600;
  text-decoration: none;
 
  font-size: large;
  margin-bottom: 3em;
  padding-bottom: 1rem;
}