openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW GreeNews Web API'
  description: 'Web Resources Specification (A7) for GreeNews'

servers:
- url: http://lbaw-prod.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: 

tags:
  - name: 'M01: Authentication and Profile'
  - name: 'M02: Posts, Feed and Search'
  - name: 'M03: Comments'
  - name: 'M04: User Administration '
  - name: 'M05: Static pages'
  - name: 'M06: Notifications'

paths:

# LOGIN: _____________________________________________________________________________________________________
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show [UI07](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2154/-/wikis/uploads/0a9eb2c8774c0eef1d0677384be22c61/login.png)'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:         
                  type: string
                password:  
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/homepage'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

# LOGOUT : _____________________________________________________________________________________________________

  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, ADM'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to homepage.'
                  value: '/homepage'
                302Error:
                  description: 'Error in logout. Redirect to homepage.'
                  value: '/homepage'
                  
# REGISTER: _____________________________________________________________________________________________________
/signup:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show [UI06](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2154/-/wikis/uploads/a3fb22a386e5b2e19ec24ef55488f100/signup1.png)'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                confirm_password:
                  type: string
              required:
                - username
                - email
                - name
                - password
                - confirm_password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/homepage'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

# SEE Own PROFILE: ______________________________________________________________________________________________________
/myProfilePage/{user_id}:
    get:
      operationId: R106
      summary: 'R106: View Own Profile'
      description: 'Page that shows the user profile and activity. Access: OWN'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':_____________________________________________________
          description: 'Ok. Show [UI03](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2154/-/wikis/uploads/520a9e403291da0d3b16a3bf5d2f0f58/myProfilePage1.png)'


# SEE PROFILE: ______________________________________________________________________________________________________
/users/{user_id}:
    get:
      operationId: R107
      summary: 'R107: View Others Profile'
      description: 'Page that shows the user profile and activity. Access: PUB and USR'
      tags:
        - 'M01: Authentication and Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':_____________________________________________________
          description: 'Ok. Show [UI04](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2154/-/wikis/uploads/1bdefbb79d925c4d8680915fe0fbc85c/otherProfile1.png)'


# EDIT PROFILE: ______________________________________________________________________________________________________
/editProfile:
    get:
      operationId: R108
      summary: 'R108: Edit Profile Form'
      description: 'Provide the user an edit profile form. Access: OWN'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show [UI06](http://lbaw2154-piu.lbaw-prod.fe.up.pt/pages/editProfile.php)'

    put:
      operationId: R109
      summary: 'R109: Edit Profile Action'
      description: 'This web resource edits the user information.	Access: OWN'
      tags:
        - 'M01: Authentication and Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                confirm_password:
                  type: string
                photo:
                 type: file
              required:
                - username
                - email
                - name
                - password
                - confirm_password
        responses:
        '302':
          description: 'Redirect after processing the edited user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit profile. Redirect to user profile.'
                  value: '/myProfilePage'
                302Failure:
                  description: 'Failed edit profile. Redirect to edit profile form.'
                  value: '/editProfile'

    delete:
      operationId: R110
      summary: 'R110: Delete Profile Action'
      description: 'This web resource allows a user to delete his account. Access: OWN'
      tags:
        - 'M01: Authentication and Profile'

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                delete_account:
                  type: boolean

      responses:
        '302':
          description: 'Redirect after processing the edited user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful delete profile. Redirect to homepage.'
                  value: '/homepage'
                302Failure:
                  description: 'Failed delete profile. Redirect to users profile.'
                  value: '/myProfilePage'

# Search 

/search:
    get:
      operationId: R111
      summary: 'R111: Search News and Users'
      description: 'This web resource get the results of a query.'
      tags: 
        - 'M02: Posts, Feed and Search'
      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: item
          description: Tags of the news
          schema:
            type: string
          required: false
        - in: query
          name: mostUpvotes
          description: Boolean with the mostUpvoted flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: newest
          description: Boolean with the newest flag value
          schema:
            type: boolean
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                post:
                  type: object
                  properties:
                    id:
                      type: int
                    datetime:
                      type: TIMESTAMP
                    user_id:
                      type: int
                    title:
                      type: string
                    header:
                      type: string
                    body:
                      type: string
                    category:
                      type: string
                    upvotes:
                      type: int
                    downvotes:
                      type: int
                example:
                  - id: 1
                    datetime: 
                    user_id: 5
                    title: Creating liveable cities through low-carbon freight
                    header: Freight transport and emissions are increasing rapidly and, until now, cities were not equipped to handle the associated challenges. Only about 21 percent of the Nationally Determined Contributions (NDCs) highlighting transport refers to freight transport. Nonetheless, general understanding and awareness on sustainable freight have grown exponentially in recent years.
                    body: Freight transport and emissions are increasing rapidly and, until now, cities were not equipped to handle the associated challenges. Only about 21 percent of the Nationally Determined Contributions (NDCs) highlighting transport refers to freight transport. Nonetheless, general understanding and awareness on sustainable freight have grown exponentially in recent years.
                    category: Ambient
                    upvotes: 50
                    downvotes: 40
                      type: array
                comment:
                  type: object
                  properties:
                    id:
                      type: int
                    user_id:
                      type: int
                    post_id:
                      type: int
                    body:
                      type: string
                    datetime:
                      type: string
                example:
                  - id: 1
                    user_id: 5
                    post_id: 500
                    body: This is a comment exemple
                    datetime: 
                 


# CREATE POST: _______________________________________________________________________________________________________
/newPostPage:
  get:
    operationId: R112
    summary: 'R112: Create Post Form'
    description: 'User can create a new post. Access: USR'

    tags: 
      - 'M02: Posts, Feed and Search'
    
    responses:
      '200':
        description: 'Ok. Show [UI09](http://lbaw2154-piu.lbaw-prod.fe.up.pt/pages/newPostPage.php)'
  
  post:
    operationId: R113
    summary: 'R113: Create Post Action'
    description: 'Processes the post submission. Access: OWN'
    tags:
      - 'M02: Posts, Feed and Search'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              title:          # <!--- form field name
                type: string
              header:    # <!--- form field name
                type: string
              body:          # <!--- form field name
                type: string
              category:    # <!--- form field name
                type: string
              source:
                type: string
            required:
              - title
              - header
              - body
              - category
              - source
              

    responses:
      '302':
        description: 'Redirect after processing the post information'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful publication. Redirect to user profile.'
                value: '/users/{id}'
              302Error:
                description: 'Failed authentication. Redirect to new post.'
                value: '/newPostPage'

# EDIT POST: _______________________________________________________________________________________________________
/editPostPage:
  get:
    operationId: R114
    summary: 'R114: Edit Post Form' 
    description: 'User can edit an existing post. Access: OWN'

    tags: 
      - 'M02: Posts, Feed and Search'
    
    responses:
      '200':
        description: 'Ok. Show [UI10](http://lbaw2154-piu.lbaw-prod.fe.up.pt/pages/editPostPage.php)'
  
  post:
    operationId: R115
    summary: 'R115: Edit Post Action'
    description: 'Processes the edited post submission. Access: OWN'
    tags:
      - 'M02: Posts, Feed and Search'

    requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              title:          # <!--- form field name
                type: string
              header:    # <!--- form field name
                type: string
              body:          # <!--- form field name
                type: string
              category:    # <!--- form field name
                type: string
              source:
                type: string
            required:
              - title
              - header
              - body
              - category
              - source
    responses:
      '302':
        description: 'Redirect after processing the post information'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Successful publiction. Redirect to user profile.'
                value: '/users/{id}'
              302Error:
                description: 'Failed authentication. Redirect to edit post.'
                value: '/editPostPage'

# DELETE POST: _______________________________________________________________________________________________________
/deletePost:
    post:
      operationId: R116
      summary: 'R116: Delete Post Action'
      description: 'Delete specified post. Access: OWN'
      tags:
        - 'M02: Posts, Feed and Search'
      responses:
        '302':
          description: 'Redirect after processing deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Error in deletion. Redirect to user profile.'
                  value: '/users/{id}'

# WRITE COMMENTS: ______________________________________________________________________________________________________
/write_comment:
  get:
    operationId: R117
    summary: 'R117: Write comment form'
    description: 'Provides opportunity for user to comment. Access: USR, OWN'
    tags:
      - 'M03: Comments'

    parameters:
      - in: path
        name: id # id do post
        schema:
          type: integer
        required: true

    responses:
      '200':
        description: 'Ok. Show ' #TODO falta link para o post em questão
  
  post:
    operationId: R118
    summary: 'R118: Write comment action'
    description: 'Process the new comment. Access: USR, OWN'
    tags:
      - 'M03: Comments'

    requestBody:
      required: true
      content: 
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              comment:
                type: text
            required:
              - comment

    responses: 
      '302':
        description: 'Redirect after processing the new comment.'
        headers:
          Location:
            schema:
              type: string
            examples:
              302Success:
                description: 'Sucessful new comment. Redirect to post page'
                value: #TODO valor do see post
              302Error: 
                description: 'Failed adding new comment. Redirect to post page'
                value: #TODO valor do see post
                
# SEE OWN POSTS: _______________________________________________________________________________________________________
/post/own/{post_id}:
  get:
    operationId: R119
    summary: 'R119: See own posts'
    description: 'User can see their own posts. Access: OWN'

    tags: 
      - 'M01: Authentication and Profile'
    
    parameters:
      - in: path
        name: id #user id
        schema:
          type: integer
        required: true
    
    responses: 
      '200':
        description: 'Ok. Show ' #TODO falta link para profile do user com a parte dos own posts
    
# REPORTS DASHBOARD: _______________________________________________________________________________________________________
/admin_dashboard:
  get:
    operationId: R120
    summary: 'R120: Reports Dashboard'
    description: 'Admin can access a dashboard with reported posts and comments. Access: ADMN'

    tags: 
      - 'M04: User Administration'

    # TODO vamos precisar de parametros ou os admin vão ver tudo igual?

    responses: 
      '200':
        description: 'Ok. Show ' # TODO falta link para report dashboard



# DELETE POST ADMIN: _______________________________________________________________________________________________________

/admin/delete_post:
  post:
      operationId: R121
      summary: 'R121: Delete Post Action - Admin'
      description: 'Delete specified post. Access: ADM'
      tags:
        - 'M04: User Administration '

      requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              post-id:          
                type: integer
            required:
              - post-id

      responses:
        '302':
          description: 'Redirect after processing deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to admin dashboard.'
                  value: '/admin_dashboard'
                302Error:
                  description: 'Error in deletion. Redirect to admin dashboard.'
                  value: '/admin_dashboard'


# DELETE COMMENT ADMIN: _______________________________________________________________________________________________________

/admin/delete_comment:
  post:
      operationId: R122
      summary: 'R122: Delete Comment Action - Admin'
      description: 'Delete specified comment. Access: ADM'
      tags:
        - 'M04: User Administration '

      requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              comment-id:          
                type: integer
            required:
              - comment-id

      responses:
        '302':
          description: 'Redirect after processing deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to admin dashboard.'
                  value: '/admin_dashboard'
                302Error:
                  description: 'Error in deletion. Redirect to admin dashboard.'
                  value: '/admin_dashboard'

# DELETE ACCOUNT ADMIN: _______________________________________________________________________________________________________

/admin/delete_account:
  post:
      operationId: R123
      summary: 'R123: Delete Account Action - Admin'
      description: 'Delete specified account. Access: ADM'
      tags:
        - 'M04: User Administration '

      requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              user-id:          
                type: integer
            required:
              - user-id

      responses:
        '302':
          description: 'Redirect after processing deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to user manager.'
                  value: '/user_manager'
                302Error:
                  description: 'Error in deletion. Redirect to user manager.'
                  value: '/user_manager'