:root {
    --background-color: #e5eff6;
    --text-color: #284B63;
    --title-color: #CCF5AC;
    --lightpink-color: #EB8A90;
    --darkpink-color: #AA1155;
    --lightblue-color: #BFD7EA;
}

  
#desktop_session_menu > ul {
    margin: 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
  
#desktop_session_menu > ul > li {
    list-style-type: none;
    display: inline-block;
    margin-left: 2em;
}
  
#desktop_session_menu > ul > li > a {
    text-decoration: none;
    color: var(--lightpink-color);
    font-weight: 600;
    font-size: 0.9em;
    text-decoration: underline;
    text-underline-position: under;
}

#desktop_session_menu > ul > li > p {
    text-decoration: none;
    color: var(--lightpink-color);
    font-size: 0.9em;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}